*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.about {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr); }
  @media only screen and (max-width: 43.75em) {
    .about {
      grid-template-rows: repeat(3, 1fr); } }
  .about__img {
    box-shadow: rgba(0, 0, 0, 0.5);
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    width: 100%; }
    @media only screen and (max-width: 65.625em) {
      .about__img {
        grid-column: 1 / span 3;
        grid-row: 1 / span 2; } }
    @media only screen and (max-width: 43.75em) {
      .about__img {
        grid-row: 1 / span 3;
        height: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .about__img {
        width: 100%; } }
  .about__box {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    background-color: #C39BD3;
    justify-items: center;
    justify-content: center;
    border-bottom: 2px solid #C39BD3;
    border-top: 2px solid #C39BD3; }
    @media only screen and (max-width: 65.625em) {
      .about__box {
        grid-column: 4 / span 3; } }
    @media only screen and (max-width: 43.75em) {
      .about__box {
        grid-row: 1 / span 3; } }
  .about__heading {
    font-family: inherit;
    font-size: 4rem;
    color: white;
    padding: 1rem 3rem;
    transition: all .2s; }
    .about__heading:hover {
      transform: skewY(2deg) skewX(40deg) scale(1.2); }
    @media only screen and (max-width: 43.75em) {
      .about__heading {
        font-size: 3rem; } }
  .about__text {
    font-family: inherit;
    font-size: 2rem;
    color: white;
    padding: 1rem 3rem; }

.header {
  background-color: #d7bde2; }
  .header__list {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center; }
    @media only screen and (max-width: 65.625em) {
      .header__list {
        justify-content: center; } }
    @media only screen and (max-width: 37.5em) {
      .header__list {
        display: none; } }
  .header__link:link, .header__link:visited {
    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 2.5rem;
    color: white; }
  .header__link:hover {
    color: #9B59B6; }
  .header__item {
    padding: 2rem; }

.gallery {
  display: grid;
  grid-template-columns: repeat(10, 8vw);
  grid-template-rows: repeat(10, 8vh);
  grid-gap: 1rem;
  background-color: #E8DAEF;
  padding: 10px 0; }
  .gallery__item--1 {
    grid-row: 1 / span 4;
    grid-column: 1 / span 2;
    animation: moveInLeft 1.3s ease-in; }
  .gallery__item--2 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 3;
    animation: moveUp 1.3s ease-in; }
  .gallery__item--3 {
    grid-column: 5 / span 3;
    grid-row: 1 / span 4;
    animation: scale 1.3s ease-in; }
  .gallery__item--4 {
    grid-column: 9 / span 2;
    grid-row: 1 / span 2;
    animation: moveUp 1.3s ease-in; }
  .gallery__item--5 {
    grid-row: 1 / span 2;
    animation: scale 1.3s ease-in; }
  .gallery__item--6 {
    grid-column: 8 / span 3;
    grid-row: 3 / span 8;
    animation: moveInLeft 1.3s ease-in; }
  .gallery__item--7 {
    grid-column: 1 / span 3;
    grid-row: 5 / span 6;
    animation: rotate 1.3s ease-in; }
  .gallery__item--8 {
    grid-column: 11/ span 2;
    grid-row: 7 / span 4;
    animation: moveUp 1.3s ease-in; }
  .gallery__item--9 {
    grid-column: 11 / span 2;
    grid-row: 1 / span 3;
    animation: rotate 1.3s ease-in; }
  .gallery__item--11 {
    grid-column: 6 /  span 2;
    grid-row: 5 /  span 6;
    animation: rotate 1.3s ease-in; }
  .gallery__item--12 {
    grid-column: 4 / span 2;
    grid-row: 8 / span 3;
    animation: moveInLeft 1.3s ease-in; }
  .gallery__item--13 {
    grid-column: 11 / span 2;
    grid-row: 4 / span 3; }
  .gallery__item--14 {
    grid-row: 4 / span 1;
    animation: scale 1.3s ease-in; }
  .gallery__item--15 {
    grid-column: 4 /  span 1;
    grid-row: 4 /  span 1; }
  .gallery__item--18 {
    grid-column: 4 /  span 2;
    grid-row: 5 /  span 3; }
  .gallery__img {
    display: block;
    width: 100%;
    height: 100%; }

.hero {
  background-image: url(../img/layout/matthieu-brajon-yVHfm4KxpCY-unsplash.jpg);
  display: block;
  height: 90vh;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .hero {
      height: 90vh; } }
  @media only screen and (max-width: 65.625em) {
    .hero {
      background-color: black;
      background-repeat: no-repeat;
      height: 90vh;
      width: 100%; } }
  .hero__1 {
    backface-visibility: hidden;
    color: white;
    font-family: inherit;
    font-size: 8rem;
    font-weight: 600;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 75em) {
      .hero__1 {
        font-size: 10rem; } }
    @media only screen and (max-width: 65.625em) {
      .hero__1 {
        font-size: 8rem; } }
    @media only screen and (max-width: 56.25em) {
      .hero__1 {
        font-size: 7.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .hero__1 {
        font-size: 6rem; } }
    .hero__1--main {
      animation: fadeIn ease-in 1.3s;
      color: #9B59B6; }
    .hero__1--third {
      animation: fadeIn ease-in 1.3s;
      color: #9B59B6; }

.features {
  backface-visibility: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  padding: 5% 3%; }
  @media only screen and (max-width: 56.25em) {
    .features {
      grid-template-columns: repeat(2, 1fr); } }
  .features__item {
    display: grid;
    grid-template-columns: repeat(min-content, 1fr); }
  .features__icon {
    height: 5rem;
    width: 5rem;
    fill: #C39BD3;
    transition: all .2s; }
    .features__icon:hover {
      transform: scale(1.7); }
  .features__text {
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 400;
    grid-column: 2 / span 1; }

.heading-3 {
  align-items: center;
  animation: moveInLeft 1.4s ease-in;
  animation-fill-mode: backwards;
  font-family: inherit;
  font-size: 2.3rem;
  color: #9B59B6;
  font-weight: 500; }
  @media only screen and (max-width: 56.25em) {
    .heading-3 {
      font-size: 2rem; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  50% {
    transform: translateX(40px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px); }
  50% {
    transform: translateX(40px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  50% {
    transform: translateY(40px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes rotate {
  0% {
    opacity: 0;
    transform: rotate(360deg); }
  100% {
    opacity: 1;
    transform: rotate(0); } }

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(2); }
  100% {
    opacity: 1;
    transform: scale(0); } }
