
$bp-between: 50em;   //800px
$bp-largest: 75em;    // 1200px
$bp-large: 65.625em;    // 1000px
$bp-medium: 56.25em;  //900px
$bp-middle: 43.75em; //700px
$bp-small: 37.5em;   //600px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem :10px;
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
