.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
    padding: 5% 0;
    //background-color: #E8DAEF;

    &__item {
        display: grid;
       grid-template-columns: repeat(min-content, 1fr);
    }

    &__icon {
        height: 5rem;
        width: 5rem;
        fill: #C39BD3;
    }

    &__text {
        font-family: inherit;
        font-size: 1.7rem;
        font-weight: 400;
        grid-column: 2 / span 1;
    }

}
.heading-3 {
    font-family: inherit;
    font-size: 2rem;
    color: #9B59B6 ;
    font-weight: 400;
    padding: 2rem;
}
