.features {
    backface-visibility: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
    padding: 5% 3%;
    //background-color: #E8DAEF;

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    &__item {
        display: grid;
       grid-template-columns: repeat(min-content, 1fr);
    }

    &__icon {
        height: 5rem;
        width: 5rem;
        fill: #C39BD3;
        transition: all .2s;

        &:hover {
            transform: scale(1.7);
        }
    }

    &__text {
        font-family: inherit;
        font-size: 1.8rem;
        font-weight: 400;
        grid-column: 2 / span 1;
    }

}
.heading-3 {
    align-items: center;
    animation: moveInLeft 1.4s ease-in;
    animation-fill-mode: backwards;
    font-family: inherit;
    font-size: 2.3rem;
    color: #9B59B6 ;
    font-weight: 500;

    @media only screen and (max-width: $bp-medium) {
        font-size: 2rem;
    }
}
