.footer {
    display: grid;
    grid-template-columns: repeat(max-content, repeat(5, 1fr));
    grid-template-rows: repeat(75vh, 5vh);
    background-color:  #d7bde2;
    font-family: inherit;

    &__logo {
        grid-column: 1 /  span 1;
        grid-row: 1 / span 1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 1rem 1rem;
        color: #a569bd;
        font-size: 1.1rem;

    &__box {
        color: #a569bd;
        font-size: 1.1rem;

        &__heading {
            color:  #8e44ad;
        }

        &__p {
            color: white;
        }
    }
}
    &__img {
       height: 60%;
       width: 60%;
       border-radius: 10%;
    }

    &__copyright {
        grid-column: 1 / span 6;
        font-family: inherit;
        text-align: center;
        font-size: 1.5rem;
        background-color:  #a569bd;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        margin-bottom: 0;
        letter-spacing: .8px;
    }

    &__links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1rem;
        margin-bottom: 1rem;

        &__heading {
            font-family: inherit;
            font-size: 2rem;
            color: white;
            grid-column: 1 / span 3;
            padding: 1rem 0;
        }

        &__p {
            text-transform: uppercase;
            font-family: inherit;
            font-size: 1.2rem;
            font-weight: 600;
            background-color:  #7d3c98;
            justify-content: center;
            justify-items: center;
            padding: 2rem 0;
            text-align: center;
            color: white;
            text-decoration: none;
        }
    }

    &__categories {
        display: flex;
        flex-direction: column;

        &__heading {
            font-family: inherit;
            font-size: 2rem;
            color: white;
            padding: 1rem 3rem;
         }
    }
    &__nav {
        padding: 1.5rem 3rem;
        list-style: none;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    &__link {
        color: #a569bd;
        text-decoration: none;
        font-weight: 500;
        font-size: 2rem;
    }

    &__form {
        grid-column: 4 / span 2;
        display: flex;
        flex-direction: column;
        

        &__heading {
            font-family: inherit;
            font-size: 2rem;
            color: white;
            padding: 1rem 0;
        }
    }
    &__btn {
     margin-top: 2rem;
    border: none;
    padding: 1rem 2rem;
    text-align: center;

    &--1 {
        text-decoration: none;
        color: #7d3c98;
        font-family: inherit;
        font-weight: 400;
    }
    }
}
label {
    color: hsl(283, 39%, 58%);
    font-weight: 500;
    font-family: inherit;
    font-size: 1.8rem;
}
::placeholder {
  color: #7d3c98;
  opacity: 1;
  font-size: 1.5rem;
}
