.gallery {
    background-color: #E8DAEF;
    display: grid;
    grid-template-columns: repeat(10, 8vw);
    grid-template-rows: repeat(10, 8vh);
    grid-gap: 1rem;
    padding: 10px 0;
    
    &__item {
        &--1 {
            animation: moveInLeft 1.3s ease-in;
            grid-row: 1 / span 4;
            grid-column: 1 / span 2;
        }

        &--2 {
            animation: moveUp 1.3s ease-in;
            grid-column: 3 / span 2;
            grid-row: 1 / span 3;
        }

        &--3 {
            animation: scale 1.3s ease-in;
            grid-column: 5 / span 3;
            grid-row: 1 / span 4;
        }

        &--4 {
            animation: moveUp 1.3s ease-in;
            grid-column: 9 / span 2;
            grid-row: 1 / span 2;
        }

        &--5 {
            animation: scale 1.3s ease-in;
            grid-row: 1 / span 2;
        }

       &--6 {
        animation: moveInLeft 1.3s ease-in;
           grid-column: 8 / span 3;
           grid-row: 3 / span 8;
        }
       &--7 {
        animation: rotate 1.3s ease-in;
           grid-column: 1 / span 3;
           grid-row: 5 / span 6;
       }

       &--8 {
        animation: moveUp 1.3s ease-in;
        grid-column: 11/ span 2;
        grid-row: 7 / span 4;
    }

       &--9 {
        animation: rotate 1.3s ease-in;
           grid-column: 11 / span 2;
           grid-row: 1 / span 3;
       }

        &--11 {
            grid-column: 6 /  span 2;
            grid-row: 5 /  span 6;
            animation: rotate 1.3s ease-in;
        }

        &--12 {
            animation: moveInLeft 1.3s ease-in;
            grid-column: 4 / span 2;
            grid-row: 8 / span 3;
        }

        &--13 {
            grid-column: 11 / span 2;
            grid-row: 4 / span 3;
        }

        &--14 {
            grid-row: 4 / span 1;
            animation: scale 1.3s ease-in;
        }

        &--15 {
            grid-column: 4 /  span 1;
            grid-row: 4 /  span 1;
        }


        &--18 {
            grid-column: 4 /  span 2;
            grid-row: 5 /  span 3;
        }

    }
    &__img {
        display: block;
        height: 100%;
        width: 100%;
    }

}
