.hero {
    background-image: url(../img/layout/matthieu-brajon-yVHfm4KxpCY-unsplash.jpg);
    display: block;
    height: 90vh;
    position: relative;
    @media only screen and (max-width: $bp-largest) {
        height: 90vh;
    }
    @media only screen and (max-width: $bp-large) {
        background-color: black;
        background-repeat: no-repeat;
        height: 90vh;
        width: 100%;
    }

    &__1 {
        backface-visibility: hidden;
        color: white;
        font-family: inherit;
        font-size: 8rem;
        font-weight: 600;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (max-width: $bp-largest) {
            font-size: 10rem;
        }
        @media only screen and (max-width: $bp-large) {
            font-size: 8rem;
        }
        @media only screen and (max-width: $bp-medium) {
            font-size: 7.5rem;
        }
        @media only screen and (max-width: $bp-small) {
            font-size: 6rem;
        }
        &--main {
           animation: fadeIn ease-in 1.3s;
           color: #9B59B6;

        }
        &--third {
            animation: fadeIn ease-in 1.3s;
           color: #9B59B6;
        }
    }

    }
